.Order {
  width: 90%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px solid;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 15px;
}

@media (min-width: 700px) {
  .Order {
    width: 600px;
  }
}
